:root {
  --purple: hsl(259, 100%, 65%);
  --red: hsl(0, 100%, 67%);
  --white: hsl(0, 100%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Grey-100: hsl(0, 0%, 94%);
  --Grey200: hsl(0, 0%, 86%);
  --Grey500: hsl(0, 1%, 44%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 3.2rem;
  font-family: "Open Sans", sans-serif;
  background: var(--Grey-100);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.age-container {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.innerContainer {
  background: var(--white);
  padding:3rem  2rem;
  border-radius: 1.5rem;
  border-bottom-right-radius: 8rem;
  width: 100%;
  overflow: hidden;
  max-width: 60rem;
}

.age-inputs {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Grey500);
  border-bottom: .1rem solid var(--Grey200);
  padding: 2rem 0 5rem;
  position: relative;
}

.age-inputs label {
  letter-spacing: .2rem;
}

.age-inputs .inputs {
  flex-basis: 30%;
}

.inputs input {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--Black);
  outline: none;
  border-radius: .8rem;
  font-weight:  700;
  border: 1px solid var(--Grey500);
}

.age-display {
  font-weight: 800;
  color: var(--Black);
  font-style: italic;
  position: relative;
  font-size: 2.5rem;
  padding: 2rem 0;
}

.arrow-div {
  background: var(--purple);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  position: absolute;
  bottom: -2.5rem;
  left: 42.5%;
  border: none;
  font-weight: bold;
}

.arrow-div img {
  width: 100%;
  padding: 1rem;
}
.age-display span {
  color: var(--purple);
  font-weight: bolder;
}

.error {
  color: red;
  font-weight: lighter;
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (min-width: 580px) {
  .arrow-div {
    position: absolute;
    bottom: -3.5rem;
    left: 100% ;
    width: 7rem;
    height: 7rem;
  }

  .innerContainer {
    padding: 3rem 10rem 5rem 5rem;
    border-bottom-right-radius: 10rem;
  }

  .age-display {
    font-size: 3rem;
    padding-top: 3rem;
  }
}
